@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Rock+Salt');
body{
  background-color: #fff;
}
.jumbotron{
  background-image: url("../img/moab1.jpg");
  height:100vh;
  background-size: cover;
  margin:0;
  padding: 0;
  border: 0;
  color:white;
  font-family: 'Rock Salt';
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  margin:0;
  padding: 0;
  border: 0;
}
.title{
  margin-top: 50vh;
}
.index_navbar div {
  margin-top: 30px;
  text-align: center;
}
.index_navbar div a{
  color: white;
  font-size: 1.5em;
  font-family: 'Brees Serif';
  text-decoration: none;
}
.index_navbar div a:hover{
  text-decoration: underline;
}
.header{
  background-color: #535456;
  color:white;
  font-family: 'Bree Serif';
}
.header div a:link{
  text-decoration: none;
  color: white;
}
.top-nav{
  margin-top: 40px;
  border:none;
}
.nav li a {
  color:white;
}
.nav li a:hover{
  color:#535456;
}
.about-img{
  margin-top: 30px;
  margin-bottom: 30px;

}
.post img{
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side{
  margin-top: 20px;
  padding: 0;
  border: 0;
}
.post{
  margin-top: 20px;
}
@media (max-width:768px){
  .header{
    text-align: center;
  }
  .top-nav ul{
    text-align: center;
  }

}
@media (max-width:500px){
  .index_navbar div a{
    font-size: 1em;
  }
}
