// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.job-section {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.job-row {
  margin-top: 20px;
}
  
.job-company {
  margin-top: 20px;
  font-size: 24px;
  text-decoration: underline;
}
.job-timeframe{
  margin-top: 20px;
  font-size: 20px;
}
.job-title {
  font-size: 20px;
  font-weight: bold;
}
.job-description {
  font-size: 18px;
  padding-top: 15px;
}